/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* custom property */
:root {
  /* color */
  --color-primary: hsl(230, 35%, 7%);
  --color-secondary: hsl(231, 77%, 90%);
  --color-tertiary: hsl(0, 0%, 100%);
  --color-accent: hsl(0, 0%, 100%, 0.5);
}
/* background image */
body {
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
}
nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  color: var(--color-tertiary);
}
.nav-number {
  margin-right: 1rem;
}
